<div>
  <div>
    <!-- Gotta wrap the button in a link just to get the style to apply-->
    <a routerLink="/addWorkOrders">
        <button pButton type="button" class="ui-button-info" label="New"></button>
      </a>
      <br/><br/>
      <p-table  [value]="workorders">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols">
              {{ col.header }}
            </th>
            <th>Actions</th>
          </tr>
       	</ng-template>
        <ng-template pTemplate="body" let-workorder>
          <tr>
            <td *ngFor="let col of cols">
              {{ workorder[col.field] }}
            </td>
            <td>
              <!-- Gotta wrap the button in a link just to get the style to apply-->
              <a [routerLink]="['/editWorkOrder', workorder.id]">
                <button pButton type="button" class="ui-button-info" label="Edit">
                </button>
              </a>
              &nbsp;
              <button pButton type="button" class="ui-button-danger" label="Delete" (click)="deleteWorkOrder(workorder.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
